<header id="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <h1><img src="content/img/logo.jpg" width="50" alt=""> Wise Trips </h1>

            <div class="btn-group">
                <a href="#!/Home" class="btn btn-primary">Home</a>
                <a href="#!/take" class="btn btn-primary">Take a Trip</a>
                <a href="#!/packages" class="btn btn-primary">Packages</a>
                <a href="#!/trips" class="btn btn-primary">Trips</a>
                <a href="#!/profile" class="btn btn-primary">View Profile</a>
                <a href="#!/login" class="btn btn-primary">Login</a>
                <a href="#!/register" class="btn btn-primary">Register</a>
                <a href="#!/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
</header>