<div class="row justify-content-center align-items-center">
    <br><br>
    <div class="col-md-6 text-center">
        <img src="/content/img/logo.jpg" alt="Logo" height="400" />
    </div>

    <div class="col-md-6">
        <h1>Final Term Project</h1>
        <p style="font-size:x-large">
            <b>Student Name:</b> Zaid Amin Rawfin<br>
            <b>Student ID:</b> 20-42459-1<br>
            <b>Course:</b> Adv. Programming With .NET [B]<br>
            <b>GitHub:</b> <a href="https://github.com/raofin">github.com/raofin</a><br>
            <b>Website:</b> <a href="https://raofin.net">raofin.net</a><br>
            <b>Email Address:</b> <a href="mailto:hello@raofin.net">hello@raofin.net</a><br>
            <b>Date of Submission:</b> 29/12/2022<br>
        </p>
    </div>
</div>