<div class="row d-flex justify-content-center">
    <form ng-submit="submit()" id="login" class="col-md-3">
        <h1 class="text-center">User Login</h1>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" ng-model="post.username" placeholder="Enter your username here">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ng-model="post.password" placeholder="Enter your password here">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>