<div>
    <div class="text-center">
        <h1>Package Details</h1><br/>
    </div>

    <h2>{{package.Name}}</h2>
    <!--<p><b>Package Id:</b> {{package.Id}}</p>-->
    <p><b>Agency Id:</b> {{package.AgencyId}}</p>
    <p><b>Country:</b> {{package.Country}}</p>
    <p><b>Duration:</b> {{package.Duration}}</p>
    <p><b>Price:</b> ${{package.Price}}</p>
    <p align="justify"><b>Details:</b> <br>{{package.Details}}</p>

    <div class="text-center">
        <a class="btn btn-primary" href="#!/packages">Back</a>
    </div>
</div>