<div class="row d-flex justify-content-center">
    <div class="col-md-5 user-profile">
        <h1 class="text-center">User Profile</h1>
        <table class="profile-table">
            <tr>
                <td><b>Username: </b></td>
                <td>{{user.Username}}</td>
            </tr>
            <tr>
                <td><b>Email: </b></td>
                <td>{{user.Email}}</td>
            </tr>
            <tr>
                <td><b>Password: </b></td>
                <td>{{user.Password}}</td>
            </tr>
            <tr>
                <td><b>Gender: </b></td>
                <td>{{user.Sex}}</td>
            </tr>
        </table>
        <br>
        <!--<div class=" text-center">
            <a href="#!/profile-update" class="btn btn-primary">Modify</a>
        </div>-->
    </div>
</div>