<div class="row d-flex justify-content-center">
    <form ng-submit="submit()" id="register" class="col-md-4">
        <h1 class="text-center">User Register</h1>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" ng-model="post.username" placeholder="Enter your username here">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" ng-model="post.email" placeholder="Enter your email address here">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ng-model="post.password" placeholder="Enter your password here">
        </div>
        <label for="sex">Gender</label>
        <select ng-model="post.sex" class="form-control" id="sex">
            <option ng-value="undefined" selected>Select your gender...</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <label for="account-type">Account Type</label>
        <select ng-model="accountType" class="form-control" id="account-type">
            <option ng-value="undefined" selected>Select your account type...</option>
            <option value="Tourist">Tourist</option>
            <option value="Agency">Agency</option>
            <option value="Admin">Admin</option>
        </select>
        <div class="text-center">
            <button type="submit" class="btn btn-success">Register</button>
        </div>
    </form>
</div>